* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
nav {
	position: sticky;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-family: 'Quicksand', sans-serif;
    background-color: #aa6f73;
}

.bg-color-nav {
	background-color:#eddbdf;
}

.bg-color1 {
	background-color: #aa6f73;
}

.self-img {
	height: 300px;
	width: 300px;
}

.card-bg-1 {
	background-color: #eddbdf;
}

.card-bg-2 {
	background-color: #eddbdf;
}

.card-bg-3 {
	background-color: #eddbdf;
}

.row-fb {
	background-color: #a39193;
}

.bg-footer {
	background-color:#eddbdf;
}

.form-bg {
	background-color:#eddbdf;
}

#crafty {
	height: 100px;
	width: 200px;
}

#veggie {
	height: 100px;
	width: 200px;
}

#prodigy {
	height: 100px;
	width: 200px;
}
